---
layout: default
title: Home
---

{% assign messages_by_date = site.data.messages | group_by: "date" %}

<ul>
  {% for date in messages_by_date %}
    <li class='date-event'>
    <h3 class="date">{{ date.name }}</h3>
    <ul>
      {% for message in date.items %}
        <li class="time-event">
          <p class="time">{{ message.time }}</p>
          <p class="{{ message.state }}-event">
            {{ message.message }}
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</ul>
